In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df= pd.read_csv('train.csv')

In [3]:
df.head()

,ID,electricity_kwh_per_month,natural_gas_therms_per_month,vehicle_miles_per_month,house_area_sqft,water_usage_liters_per_day,public_transport_usage_per_week,household_size,home_insulation_quality,meat_consumption_kg_per_week,laundry_loads_per_week,recycles_regularly,composts_organic_waste,uses_solar_panels,energy_efficient_appliances,heating_type,diet_type,owns_pet,smart_thermostat_installed,carbon_footprint
0,0xd6c,759.70,55.95,944.55,2422.07,541.27,1,3,2,4.23,9,1.0,0.0,0,1.0,gas,vegetarian,1,NaN,830.10
1,0x3fdf,387.06,70.59,1280.85,1995.3,280.39,1,2,1,3.27,8,0.0,0.0,0,0.0,electric,vegetarian,0,0.0,963.08
2,0x3b08,594.25,29.14,1005.72,2673.55,416.14,0,2,3,2.87,3,0.0,1.0,0,1.0,electric,omnivore,1,1.0,840.11
3,0x31e5,503.76,74.68,1049.46,2994.28,530.13,0,5,1,3.22,9,1.0,0.0,0,0.0,electric,omnivore,1,0.0,1252.42
4,0x397e,549.54,-77.00,756.49,2549.57,604.10,5,4,4,2.92,2,1.0,0.0,0,1.0,electric,vegetarian,0,1.0,580.74

In [5]:
df.describe()

,electricity_kwh_per_month,natural_gas_therms_per_month,vehicle_miles_per_month,water_usage_liters_per_day,public_transport_usage_per_week,home_insulation_quality,meat_consumption_kg_per_week,laundry_loads_per_week,recycles_regularly,composts_organic_waste,uses_solar_panels,energy_efficient_appliances,owns_pet,smart_thermostat_installed,carbon_footprint
count,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,13590.000000,13610.000000,14000.000000,13569.000000,14000.000000,13584.000000,14000.000000
mean,389.866107,47.588121,796.046458,385.497657,3.271357,3.003857,3.008954,5.005571,0.706034,0.393608,0.199571,0.498784,0.500143,0.301899,776.046010
std,119.070653,25.098685,340.217925,127.034232,2.942215,1.147641,1.464928,2.568548,0.455593,0.488568,0.399692,0.500017,0.500018,0.459099,190.432709
min,-99.000000,-99.000000,-1567.182896,-99.000000,-14.000000,-4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,310.000000
25%,325.067500,35.410000,587.525000,322.547500,1.000000,2.000000,1.980000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,631.065000
50%,394.995000,49.205000,792.885000,395.325000,3.000000,3.000000,2.990000,5.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,763.725000
75%,464.440000,62.872500,1003.462500,464.652500,5.000000,4.000000,4.000000,7.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,905.910000
max,786.890000,116.950000,2697.807683,885.940000,17.000000,9.000000,8.440000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1610.000000

In [6]:
df.isna().any()

ID                                 False
electricity_kwh_per_month          False
natural_gas_therms_per_month       False
vehicle_miles_per_month            False
house_area_sqft                    False
water_usage_liters_per_day         False
public_transport_usage_per_week    False
household_size                     False
home_insulation_quality            False
meat_consumption_kg_per_week       False
laundry_loads_per_week             False
recycles_regularly                  True
composts_organic_waste              True
uses_solar_panels                  False
energy_efficient_appliances         True
heating_type                       False
diet_type                          False
owns_pet                           False
smart_thermostat_installed          True
carbon_footprint                   False
dtype: bool